*{
    box-sizing: content-box;
    margin: 0;
}
body{
    font-family: "Inter";
    background-color: black;
    color: white;
}

/* headings */
h1, h2, h3, h4, h5, h6{
    font-family: "Prata";
}
p{
    color: rgb(181, 181, 181);
    font-family: "Inter";
}
button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: .3s;
}

/* Navbar section */
.navbar{
    padding: 2rem 1.1rem;
}
.navbar-brand, .collapse button{
    font-family: "prata";
}
.navbar-nav{
    font-family: "inter";
}
.navbar-toggler{
    border: none;
}
.getInTouch{
    background-color: rgb(255, 242, 99);
    font-family: "prata";
    color: black;
    border-radius: .1rem;
    border: none;
    padding: .4rem 1rem;
    font-size: .8rem;
}

/* heading section */
.heading{
    padding: 2.5rem 2rem;
}
.heading h1{
    font-size: 2.5rem;
}
.heading p{
    font-size: 1.3rem;
}

/* logos section */

article{
    padding: 2rem 4rem;
}
.logos div{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 3rem;
}

/* Projects section */

.grid-layout{
    padding: 3rem 2rem;
}
.project-img img{
    width: 100%;
    margin-bottom: 1.5rem;
}
.projects h2{
    font-weight: 400;
    font-size: 1.9rem;
}
.projects a{
    text-decoration: none;
    color: white;
}
.projects i{
    padding-left: 1rem;
    font-size: 1.2rem;
}
.projects p{
        font-size: 1.2rem;
}

/* Bio section */
.bio-profile{
    background-color: #2d2d38;
}
.bio{
    padding: 2.5rem 2rem;
}
.bio h3{
    font-size: 2.3rem;
}
.first-para p{
    color: rgb(181, 181, 181);   
}
.first-para p:nth-child(2){
    padding-bottom: 3rem;
}

/* Get in touch section */
.in-touch{
    padding: 2.5rem 2rem;
}
 .in-touch p {
     font-size: 1.2rem;
 }
.in-touch h3{
    font-size: 2.3rem;
}
.in-touch button{
    padding: .7rem 1.5rem;
    font-size: 1rem;
}

/* footer section */

.footer{
    background-color: #2d2d38;
    padding: 2rem 3.2rem 1rem;
    display: flex;
}

.socials{
    margin-left: auto;
}
ul {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    gap: .8rem;
}
